apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "name" . }}-config
  labels:
    app: {{ template "fullname" . }}
    app.kubernetes.io/name: {{ .Values.service.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "chart" . }}
data:
  default.conf: |-
    {
      {{[- if .API.Enabled ]}}
      "server": {
      {{[- if .API.Gateway ]}}
        "gateway": {
          "port": {{ .Values.service.gateway.port }}
        },
      {{[- end ]}}
        "port": {{ .Values.service.grpc.port }}
      },
      {{[- end ]}}
      "info": {
        "port": {{ .Values.service.info.port }},
        "statistics": {{ .Values.service.info.statistics }}
      },
      {{[- if .Storage.Enabled ]}}
      {{- if .Values.service.database.enabled }}
      "database": {
        "driver": "{{ .Values.service.database.driver }}",
        "dsn": "{{ .Values.service.database.dsn }}",
        "host": "{{ .Values.service.database.host }}",
        "port": "{{ .Values.service.database.port }}",
        "name": "{{ .Values.service.database.name }}",
        "username": "{{ .Values.service.database.driver }}",
        "password": "{{ .Values.service.database.driver }}",
        {{- if .Values.service.database.properties }}
        "properties": [
         {{- range $i, $value := .Values.service.database.properties }}
          {{- if gt $i 0 }},{{- end }}
          "{{ $value }}"
          {{- end }}
        ],
        {{- end }}
        "connections": {
          "max": {{ .Values.service.database.connections.max }},
          "idle": {
            "count": {{ .Values.service.database.connections.idle.count }},
            "time": {{ .Values.service.database.connections.idle.time }}
          }
        },
        "fixtures": {
          "dir": "fixtures"
        }
      },
      "migrations": {
        "dir": "migrations/{{ .Values.service.database.driver }}",
        "active": true
      },
      {{- end }}
      {{[- end ]}}
      "logger": {
        "format": "{{ .Values.service.logger.format }}",
        "level": {{ .Values.service.logger.level }},
        "time": {{ printf "%t" .Values.service.logger.time }}
      }
    }
